/* Footer Styles */
.footer{ background-color: #283747; padding: 3em 0; color: #919394; }
.footer .footer-headline{ color: #ACACAC; margin-top: 0; font-family: 'Raleway', sans-serif; font-size: 1.5em; }
.footer .brand-logo{ height: 70px; padding-right: 4em; }
.footer .brand-logo .brand-logo-img{ width: 100%; }
.footer .btn-subscribe{ margin-top: 40px; background-color: #52BE80; color: #FFF; font-weight: bold; }
.footer a{ color: #919394; font-family: 'Roboto', sans-serif; }
.footer a:hover{ color: #5ba835; }
.footer .footer-links li a{ display: inline-block; padding: 5px 0;  }
.footer-bottom .copyright-text{ margin-top: 8px; padding-top: 20px; border-top: 1px solid #5D6D7E; }
.footer-bottom .copyright-text a{ color: white; }
/* ///////////////////// */
